<html>
    <head>
        <meta
            http-equiv="Content-Type"
            content="text/html"
            charset="utf-8" >
        <title>#!/bin/bash it 'till it works</title>
        <!-- Shortcut icon -->
        <link rel="shortcut icon" href="cannoncontraption.ico" type="favicon/ico" />
        <!-- Style information -->
        <link rel="stylesheet" type="text/css" href="/theme/scripts/windowTools/windowTools.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/desktop-theme.css" />
        <link rel="stylesheet" type="text/css" href="/theme/scripts/widgetTools/widgetTools.css" />
        <!-- Script sources -->
        <script>
         wtoolspath="/theme/scripts/"
         wtoolsrpath="/theme/"
        </script>
        <script src="/theme/scripts/windowTools/windowTools.js"></script>
        <script src="/theme/scripts/widgetTools/widgetTools.js"></script>
    </head>
    <body>
        <script>
         var colorScheme = {
             activepanelcolor: "#8b8889",
             lowerpanelcolor: "#d1ad79",
             lowerwindowborder: 'black',
             minipanelcolor: '#333c4f',
         }

         function make_introduction_window()
         {
             var introwindow = addWindow(
                 "Intro",
                 800);
             var widgetSpace = makeWidgetSpace();
             setWidgetSpace(
                 introwindow,
                 widgetSpace);
             makeLabel(
                 widgetSpace,
                 "{{ page.content|replace("\"", "\\\"")|replace("\n","") }}");
         }

         function make_about_window()
         {
             var introwindow = addWindow(
                 "About",
                 800);
             setWindowContents(
                 introwindow,
                 "<iframe src='/pages/about.html' style='width:100%;height:100%;' frameborder=0></iframe>");
         }

         function frame_post(
             post_path,
             slug,
             category)
         {
             var blogwd = addWindow(
                 slug + " in " + category,
                 800);
             setWindowContents(
                 blogwd,
                 "<iframe src='/"+post_path+"' style='width:100%;height:100%;' frameborder=0></iframe>");
         }

         function load_post(
             post_function_name,
             post_title,
             long_post_title,
             date_string)
         {
             var post_window = addWindow(
                 "blog/"+post_title,
                 700);
             var widgetSpace = makeWidgetSpace();
             setWidgetSpace(
                 post_window,
                 widgetSpace);
             var post_title = makeLabel(
                 widgetSpace,
                 "<h2>"+
                 long_post_title +
                 "</h2>"+
                 date_string);
             makeRule(widgetSpace);
             var text = makeLabel(
                 widgetSpace,
                 post_function_name());
             widgetSpace.style.height=500;
             post_window.resizeEvent.push(
                 function(
                     cwindow,
                     deltax,
                     deltay)
                 {
                     var widgetSpace = cwindow.body.getElementsByClassName(
                         "widgetSpace")[0];
                     var height = widgetSpace.style.height;
                     height = height.substring(0,height.length-2);
                     widgetSpace.style.height = parseInt(height)+deltay;
             });
             post_window.maximizeEvent.push(
                 function(
                     cwindow,
                     windowWidth,
                     windowHeight)
                 {
                     var widgetSpace = cwindow.body.getElementsByClassName(
                         "widgetSpace")[0];
                     var height = widgetSpace.style.height;
                     height = height.substring(0,height.length-2);
                     widgetSpace.style.height = windowHeight;
             });
             widgetSpace.style.overflowY="auto";
             return post_window;
         }

         function blog_window(
             category)
         {
             var blog_browser_window = addWindow(
                 category + " blog",
                 500);
             var widgetSpace = makeWidgetSpace();
             setWidgetSpace(
                 blog_browser_window,
                 widgetSpace);
             var toolbar = makeToolbar(
                 widgetSpace);
             var latestButton = makeButton(
                 toolbar,
                 "tbutton",
                 "Latest post");
             var browser_section = makeSection(
                 widgetSpace);
             if(category == "keyboards")
             {
                 setClickAction(
                     latestButton,
                     function(){
                         frame_post(
                             "intro",
                             "intro.html",
                             "keyboard")});
                 let introicon = makeIcon(
                     browser_section,
                     "intro",
                     "blogpost");
                 setDblClickAction(
                     introicon,
                     function(){
                         frame_post(
                             "intro",
                             "intro.html",
                             "keyboard")});
             }
         }

         function make_menu_buttons()
         {
             var menu_space = makeWidgetSpace();
             addMenuElement(menu_space);
             makeLabel(
                 makeSection(menu_space),
                 "cannoncontraption.github.io/");
             var about_button = makeButton(
                 menu_space,
                 "menubutton",
                 "about");
             setClickAction(
                 about_button,
                 function(){
                     menuexec(make_about_window);
             });

             /* Pelican generates by category */
             {% for category,articles in categories %}
             var keyboard_button = makeButton(
                 menu_space,
                 "menubutton",
                 "{{ category }}");
             setClickAction(
                 keyboard_button,
                 function(){
                     menuexec(
                         function(){
                             var blog_browser_window = addWindow(
                                 "{{ category }}",
                                 500);
                             var widgetSpace = makeWidgetSpace();
                             setWidgetSpace(
                                 blog_browser_window,
                                 widgetSpace);
                             var toolbar = makeToolbar(
                                 widgetSpace);
                             var latestButton = makeButton(
                                 toolbar,
                                 "tbutton",
                                 "Latest post");
                             var browser_section = makeSection(
                                 widgetSpace);
                             setClickAction(
                                 latestButton,
                                 function(){
                                     frame_post(
                                         "{{ articles[0].url }}",
                                         "{{ articles[0].slug }}",
                                         "{{ category }}")});
                             {% for article in articles %}
                             let {{ article.slug|replace('-','_') }}icon = makeIcon(
                                 browser_section,
                                 "{{ article.slug }}",
                                 "blogpost");
                             setDblClickAction(
                                 {{ article.slug|replace('-','_') }}icon,
                                 function(){
                                     frame_post(
                                         "{{ article.url }}",
                                         "{{ article.slug }}",
                                         "{{ category }}")
                             });
                             {% endfor %}
                     });
             });
             {% endfor %}
         }

         addStartupHook(make_menu_buttons);
         addStartupHook(make_introduction_window);
        </script>
    </body>
</html>
