<html>
    <head>
        <meta
            http-equiv="Content-Type"
            content="text/html"
            charset="utf-8" >
        <title>#!/bin/bash it 'till it works</title>
        <!-- Shortcut icon -->
        <link rel="shortcut icon" href="/theme/images/icons/favicon.png" />
        <!-- Style information -->
        <link rel="stylesheet" type="text/css" href="/theme/scripts/windowTools/windowTools.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/desktop-theme.css" />
        <link rel="stylesheet" type="text/css" href="/theme/scripts/widgetTools/widgetTools.css" />
        <!-- Script sources -->
        <script>
         wtoolspath="/theme/scripts/"
         wtoolsrpath="/theme/"
        </script>
        <script src="/theme/scripts/windowTools/windowTools.js"></script>
        <script src="/theme/scripts/widgetTools/widgetTools.js"></script>
    </head>
    <body>
        <script>
         var colorScheme = {
             activepanelcolor: "#8b8889",
             lowerpanelcolor: "#d1ad79",
             lowerwindowborder: 'black',
             minipanelcolor: '#333c4f',
         }

         function make_introduction_window()
         {
             var introwindow = addWindow(
                 "Intro",
                 800);
             var widgetSpace = makeWidgetSpace();
             setWidgetSpace(
                 introwindow,
                 widgetSpace);
             makeLabel(
                 widgetSpace,
                 "{{ page.content|replace("\"", "\\\"")|replace("\n","") }}");
         }

         function make_about_window()
         {
             var introwindow = addWindow(
                 "About",
                 800);
             setWindowContents(
                 introwindow,
                 "<iframe src='/pages/about.html' style='min-height:500px;width:100%;height:100%;' frameborder=0></iframe>");
         }

         function frame_post(
             post_path,
             slug,
             category)
         {
             var blogwd = addWindow(
                 slug + " in " + category,
                 800);
             setWindowContents(
                 blogwd,
                 "<iframe src='/"+post_path+"' style='min-height:500px;width:100%;height:100%;' frameborder=0></iframe>");
         }

         function make_menu_buttons()
         {
             var menu_space = makeWidgetSpace();
             addMenuElement(menu_space);
             makeLabel(
                 makeSection(menu_space),
                 "<img style='float:right;padding-right:5px;' src=/theme/images/icons/favicon.png />"+
                 "<h1>Main Menu</h1>#!/bin/bash it 'till it works")
             makeLabel(
                     menu_space,
                     "<h2>Introduction/About</h2>")
             var about_button = makeButton(
                 menu_space,
                 "menubutton",
                 "about");
             setClickAction(
                 about_button,
                 function(){
                     menuexec(make_about_window);
             });

             var intro_button = makeButton(
                     menu_space,
                     "menubutton",
                     "Intro screen")
             setClickAction(
                     intro_button,
                     function(){
                        menuexec(make_introduction_window)
                        })

             makeRule(
                     menu_space)

             makeLabel(
                     menu_space,
                     "<h2>Categories</h2>")

             /* Pelican generates by category */
             {% for category,articles in categories %}
             var category_button = makeButton(
                 menu_space,
                 "menubutton",
                 "{{ category }}");
             setClickAction(
                 category_button,
                 function(){
                     menuexec(
                         function(){
                             var blog_browser_window = addWindow(
                                 "{{ category }}",
                                 500);
                             var widgetSpace = makeWidgetSpace();
                             setWidgetSpace(
                                 blog_browser_window,
                                 widgetSpace);
                             var toolbar = makeToolbar(
                                 widgetSpace);
                             var latestButton = makeButton(
                                 toolbar,
                                 "tbutton",
                                 "Latest post");
                             var browser_section = makeSection(
                                 widgetSpace);
                             widgetSpace.style.maxHeight='400px'
                             browser_section.style.overflowY = 'auto'
                             browser_section.style.maxHeight = 320
                             addResizeEventHandler(
                                     blog_browser_window,
                                     function (
                                         browserwindow,
                                         increasex,
                                         increasey)
                                     {
                                        let height = browser_section.style.maxHeight
                                        height = height.substring(0,height.length-2)
                                        height = parseInt(height) + increasey
                                        browser_section.style.maxHeight = height
                                     })
                             setClickAction(
                                 latestButton,
                                 function(){
                                     frame_post(
                                         "{{ articles[0].url }}",
                                         "{{ articles[0].slug }}",
                                         "{{ category }}")});
                             {% for article in articles %}
                             let {{ article.slug|replace('-','_') }}icon = makeIcon(
                                 browser_section,
                                 "{{ article.slug }}",
                                 "blogpost");
                             setDblClickAction(
                                 {{ article.slug|replace('-','_') }}icon,
                                 function(){
                                     frame_post(
                                         "{{ article.url }}",
                                         "{{ article.slug }}",
                                         "{{ category }}")
                             });
                             {% endfor %}
                     });
             });
             {% endfor %}
         }

         addStartupHook(make_menu_buttons);
         addStartupHook(make_introduction_window);
        </script>
    </body>
</html>
